<header>
    <span class="logo"><a href="/">Home</a></span>
    <span class="logo right-header">
        <% if (locals.user) {%>
            <a href="/api/auth/sign-out">Sign-out</a>
            <a href="/api/auth/reset-password">Reset Password</a>
        <%} else {%>
            <a href="/api/auth/login">login</a>
            <a href="/api/auth/sign-up">Sign-up</a>
        <%}%>
    </span>
</header>