<div class="container">
    <h1>Forgot password</h1>
    <form action="/api/auth/forgot-password" method="post">
        <input type="email" name="email" id="" placeholder="Enter your Email">
        <input type="submit" value="Reset password">
    </form>
</div>