<a href="/">Homepage</a>
<h1>Forgot password</h1>
<form action="/api/auth/forgot-password" method="post">
    <input type="email" name="email" id="" Enter your Email>
    <input type="submit" value="Reset password">
</form>