
<a href="/">Homepage</a>
<h3>Login to Continue</h3>
<form action="/api/auth/login" method="post">
    <input type="email" name="username" placeholder="Enter your email address" required>
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Sign in">
</form>
<a href="/api/auth/google">Login with Google</a>
